/*base*/
@font-face {
    font-family: 'otpc';
    src: url('//bicoin.oss-cn-beijing.aliyuncs.com/6b/DINPro-Bold.eot');
    src: url('//bicoin.oss-cn-beijing.aliyuncs.com/6b/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('//bicoin.oss-cn-beijing.aliyuncs.com/6b/DINPro-Bold.woff') format('woff'),
    url('//bicoin.oss-cn-beijing.aliyuncs.com/6b/DINPro-Bold.ttf') format('truetype'),
    url('//bicoin.oss-cn-beijing.aliyuncs.com/6b/DINPro-Bold.svg#iconfont') format('svg');
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    word-break: break-all;
}

body {
    height: 100%;
    color: #000;
    font-family: "otpc" !important;
    line-height: normal;
    -webkit-text-size-adjust: 100% !important;
    -webkit-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
}

html, #app {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Microsoft YaHei, Arial, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0
}

img {
    border: 0 none;
}

a, a:focus, a:link, a:active, a:visited {
    text-decoration: none;
    color: initial;
}

*:link, *:visited, *:hover, *:active, *:focus {
    -webkit-transition: color .25s linear, background-color .25s linear, border-color .25s linear;
    transition: color .25s linear, background-color .25s linear, border-color .25s linear;
}

ul, li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

em, i {
    font-style: normal
}

strong, b {
    font-weight: 700
}

input, img, button {
    vertical-align: middle;
}

button:active {
    color: #0094FF !important;
}

input, select, textarea {
    border: 0;
    border-radius: 0;
    background-color: white;
    -webkit-appearance: none;
}

textarea:focus {
    outline: 0
}

input {
    outline: 0;
}

input[type="search"] {
    -webkit-appearance: none;
}

input::-webkit-search-cancel-button {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

del {
    color: #999;
}

img {
    max-width: 100%;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

[lazy=loaded] {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

[lazy=loading] {
    background-size: 100% !important;
    background-position: center !important;
}

/*img[lazy=loading] {
    width: 100% !important;
    left: 0% !important;
    top: 0% !important;
    background-size: 100% !important;
    background-position: center !important;
}*/
[lazy=error] {
    border-radius: 2px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.ub {
    display: -webkit-box !important;
    display: box !important;
    position: relative;
}

.ub-con {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ub-ac {
    -webkit-box-align: center;
    box-align: center;
}

.ub-ae {
    -webkit-box-align: end;
    box-align: end;
}

.ub-aj {
    -webkit-box-align: justify;
    box-align: justify;
}

.ub-pc {
    -webkit-box-pack: center;
    box-pack: center;
}

.ub-pe {
    -webkit-box-pack: end;
    box-pack: end;
}

.ub-pj {
    -webkit-box-pack: justify;
    box-pack: justify;
}

.ub-ver {
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.ub-f1 {
    position: relative;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.ub-f1p2 {
    position: relative;
    -webkit-box-flex: 1.2;
    box-flex: 1.2;
}

.ub-f1p4 {
    position: relative;
    -webkit-box-flex: 1.4;
    box-flex: 1.4;
}

.ub-f1p5 {
    position: relative;
    -webkit-box-flex: 1.5;
    box-flex: 1.5;
}

.ub-f2 {
    position: relative;
    -webkit-box-flex: 2;
    box-flex: 2;
}

.ub-f3 {
    position: relative;
    -webkit-box-flex: 3;
    box-flex: 3;
}

.ub-f3p5 {
    position: relative;
    -webkit-box-flex: 3.5;
    box-flex: 3.5;
}

.ub-f4 {
    position: relative;
    -webkit-box-flex: 4;
    box-flex: 4;
}

.ub-img {
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ub-img-bg {
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.ut-s {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0 !important;
}

.ut-s2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ut-s3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ut-s5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.ut-s10 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.box-sizing {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.table {
    display: table;
}

.rows {
    display: table-row;
}

.cells {
    display: table-cell;
}

.uw0 {
    width: 0;
}

.uw30 {
    width: 30%;
}

.uw50 {
    width: 50%;
}

.uw60 {
    width: 60%;
}

.uw65 {
    width: 65%;
}

.uw70 {
    width: 70%;
}

.uw75 {
    width: 75%;
}

.uw80 {
    width: 80%;
}

.uw90 {
    width: 90%;
}

.uw100 {
    width: 100%;
}

.uw1200 {
    width: 1200px;
}

.uw200 {
    width: 200% !important;
}

.uh96 {
    height: 96%;
}

.uh0 {
    height: 0;
}

.uh100 {
    height: 100%;
}

.tx-c {
    text-align: center;
}

.tx-l {
    text-align: left;
}

.tx-r {
    text-align: right;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.mauto {
    margin: 0 auto;
}

.hide {
    display: none !important;
}

.disabled {
    background: #eee !important;
    color: #888 !important;
    pointer-events: none;
    opacity: .65;
    cursor: not-allowed;
}

.dib {
    display: inline-block !important;
}

.db {
    display: block !important;
}

.vib {
    visibility: hidden;
}

.pr {
    position: relative !important;
}

.pa {
    position: absolute !important;
}

.vm {
    vertical-align: middle;
}

.vp {
    vertical-align: top;
}

.no-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden !important;
    height: 100% !important;
}

.hidden {
    overflow: hidden;
}

.tdu {
    text-decoration: underline;
}

.br50 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.opc0 {
    opacity: 0 !important;
}

.opc4 {
    opacity: .4 !important;
}

.opc10 {
    opacity: 1 !important;
}

.fb {
    font-weight: bolder;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.f-fq {
    font-family: STXingkai;
    font-style: italic;
    letter-spacing: 0.1em;
}

.l-n {
    line-height: normal;
}

.wb {
    word-break: break-all;
}

.tlt {
    text-decoration: line-through
}

.cur {
    cursor: pointer;
}

.shadow {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.shadow2 {
    -webkit-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.27);
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.27);
}

.shadow3 {
    -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

.shadow4 {
    -webkit-box-shadow: -1px 5px 6px rgba(0, 0, 0, 0.04), 1px 5px 5px rgba(0, 0, 0, 0.04);
    box-shadow: -1px 5px 6px rgba(0, 0, 0, 0.04), 1px 5px 5px rgba(0, 0, 0, 0.04);
}

.shadow5 {
    -webkit-box-shadow: -1px 5px 6px rgba(0, 0, 0, 0.04), 1px 5px 5px rgba(0, 0, 0, 0.04);
    box-shadow: -1px 5px 6px rgba(0, 0, 0, 0.04), 1px 5px 5px rgba(0, 0, 0, 0.04);
}

.filter {
    -webkit-filter: blur(0.106667rem);
    filter: blur(0.106667rem);
}

.filter2 {
    -webkit-filter: blur(0.2rem);
    filter: blur(0.2rem);
}

.f-touch {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.f10 {
    font-size: 10px !important;
}

.f12 {
    font-size: 12px !important;
}

.f13 {
    font-size: 13px !important;
}

.f14 {
    font-size: 14px !important;
}

.f16 {
    font-size: 16px !important;
}

.f17 {
    font-size: 17px !important;
}

.f18 {
    font-size: 18px !important;
}

.f20 {
    font-size: 20px !important;
}

.f22 {
    font-size: 22px !important;
}

.f24 {
    font-size: 24px !important;
}

.f30 {
    font-size: 30px !important;
}

.f36 {
    font-size: 36px !important;
}

.f38 {
    font-size: 38px !important;
}

.f40 {
    font-size: 40px !important;
}

.f60 {
    font-size: 60px !important;
}

/* 1rem = 75px */
.p0 {
    padding: 0;
}

.p5 {
    padding: 5px;
}

.p8 {
    padding: 8px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

.p40 {
    padding: 40px;
}

.pt0 {
    padding-top: 0 !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt60 {
    padding-top: 0.8rem !important;
}

.pb0 {
    padding-bottom: 0rem !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.pb60 {
    padding-bottom: 60px !important;
}

.pb80 {
    padding-bottom: 80px !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl25 {
    padding-left: 0.333333rem !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pl50 {
    padding-left: 50px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pr50 {
    padding-right: 50px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.ml3 {
    margin-left: 3px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml8 {
    margin-left: 8px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml26 {
    margin-left: .3467rem !important;
}

.ml30 {
    margin-left: 30px !important;
}

.ml36 {
    margin-left: 36px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.ml50 {
    margin-left: 50px !important;
}

.mt3 {
    margin-top: 3px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt6 {
    margin-top: 6px !important;
}

.mt8 {
    margin-top: 8px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mt80 {
    margin-top: 1.0667rem !important;
}

.mt100 {
    margin-top: 1.3333rem !important;
}

.mb3 {
    margin-bottom: 3px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.c-base {
    color: #4A61F6 !important;
}

.c-0 {
    color: #000 !important;
}

.c-3 {
    color: #333 !important;
}

.c-f3 {
    color: #f3f3f3 !important;
}

.c-4 {
    color: #444 !important;
}

.c-6 {
    color: #666 !important;
}

.c-8 {
    color: #888 !important;
}

.c-9 {
    color: #999 !important;
}

.c-c {
    color: #ccc !important;
}

.c-wh {
    color: #fff !important;
}

.c-9a {
    color: #9a9a9a !important
}

.c-e5 {
    color: #e5e5e5 !important
}

.c-b {
    color: #bbbbbb !important
}

.c-gre {
    color: #1ACF90 !important
}

.c-green {
    color: #52C41A !important
}

.c-green0 {
    color: #1ACF90 !important
}

.c-green-1 {
    color: #42b983 !important;
}

.c-blu {
    color: #0094FF !important;
}

.c-blu-1 {
    color: #1e5eff !important;
}

.c-blu-2 {
    color: #108EE9 !important;
}

.c-red {
    color: #F5222D !important;
}

.c-red-1 {
    color: #ff4436 !important
}

.c-red-2 {
    color: #DD2727 !important;
}

.c-red-3 {
    color: #ff3f4d !important;
}

.c-yellow {
    color: #F8E71C !important;
}

.c-yellow-1 {
    color: #f5a623 !important;
}

.c-org {
    color: #F19E8C !important;
}

.c-org1 {
    color: #f74900 !important;
}

.c-org2 {
    color: #E8541E !important;
}

.c-gold {
    color: #FFBA2C !important;
}

.c-a5 {
    color: #a5a5a5;
}

.c-gra {
    color: #999;
}

.back-white {
    background-color: #fff !important;
}

.b-0 {
    background-color: #000;
}

.b-f2 {
    background-color: #f2f2f2;
}

.b-f9 {
    background-color: #f9f9f9;
}

.b-wh {
    background-color: #fff;
}

.b-yellow {
    background-color: #f5a623;
}

.b-green {
    background-color: #52C41A;
}

.b-red {
    background-color: #F5222D;
}

.b-red-2 {
    background-color: #DD2727;
}

.b-pink {
    background-color: #f87b87;
}

.b-gra {
    background-color: #999;
}

.b-blu {
    background-color: #1890FF;
}

/*.b-gray{background:-webkit-gradient(linear, 50% 40%, 100% 100%, from(#fff), to(#e5e5e5));}*/
/*.b-gray2{background:-webkit-gradient(linear, 50% 40%, 120% 100%, from(#999), to(#fff));}*/
/*.b-red{background:-webkit-gradient(linear, 50% 40%, 54% 100%, from(#f2535c), to(#fd856a));}*/
/*.b-blue{background:-webkit-gradient(linear, 50% 40%, 54% 100%, from(#8e9bf6), to(#6bc2da));}*/
/*.b-green{background:-webkit-gradient(linear, 50% 40%, 54% 100%, from(#70b34c), to(#aed72c));}*/
.b-purple {
    background: -webkit-gradient(linear, 50% 40%, 54% 100%, from(#7a5fc6), to(#c069d6));
}

.b-orange {
    background: -webkit-gradient(linear, 50% 40%, 54% 100%, from(#f98c4a), to(#f8ae4f));
}

.bth-ac {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.btn-red-1 {
    display: block;
    height: 1.2rem;
    width: 100%;
    line-height: 1.2rem;
    border: 1px solid #fd5459;
    border-radius: .08rem;
    text-align: center;
    background-color: #fd5459;
    color: #fff !important;
}

.btn-red-2 {
    display: block;
    height: 1.2rem;
    width: 100%;
    line-height: 1.2rem;
    border: 1px solid #fd5459;
    border-radius: .08rem;
    text-align: center;
    background-color: #FEC5B9;
    color: #fd5459 !important;
}

.btn-wh-1 {
    display: block;
    height: 1rem;
    line-height: 1rem;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #e5e5e5;
}

.forward:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: .24rem;
    height: .24rem;
    border: 3px solid #333;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    border-bottom: transparent;
    border-left: transparent;
}

.b-p5-t:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}

.b-p5-b:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_581945_e5lm5dpz3gu.eot');
    src: url('//at.alicdn.com/t/font_581945_e5lm5dpz3gu.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_581945_e5lm5dpz3gu.woff') format('woff'),
    url('//at.alicdn.com/t/font_581945_e5lm5dpz3gu.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_581945_e5lm5dpz3gu.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

[class*=" ot-icon-"], [class^=ot-icon-] {
    font-family: "iconfont" !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ot-icon-user:before {
    content: "\e751";
}

.ot-icon-lock:before {
    content: "\e646";
}

.ot-icon-ring:before {
    content: "\e65a";
}

.ot-icon-warn:before {
    content: "\e68e";
}

.ot-icon-page:before {
    content: "\e632";
}

.ot-icon-qr:before {
    content: "\e60c";
}

.ot-icon-warn1:before {
    content: "\e61f";
}

.ot-icon-gou:before {
    content: "\e65c";
}

.ot-icon-upload:before {
    content: "\e605";
}

.ot-icon-asset:before {
    content: "\e614";
}

.ot-icon-person:before {
    content: "\e649";
}

.ot-icon-help:before {
    content: "\eee9";
}

.ot-icon-up:before {
    content: "\e64c";
}

.ot-icon-down:before {
    content: "\e64b";
}

.ot-icon-flat:before {
    content: "\e67f";
}

.ot-icon-refresh:before {
    content: "\e642";
}

.ot-icon-star:before {
    content: "\e6ae";
}

.ot-icon-instar:before {
    content: "\e611";
}

.ot-icon-more:before {
    content: "\e6f5";
}

.ot-icon-dtl:before {
    content: "\e87a";
}

.ot-icon-addr:before {
    content: "\e600";
}

/*base------------------end*/
[v-cloak] {
    display: none;
}

.leftShow-enter-active, .leftShow-leave-active {
    transition: transform .5s;
    -webkit-transition: transform .5s;
}

.leftShow-enter, .leftShow-leave-active {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.opacShow-enter-active, .opacShow-leave-active {
    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
}

.opacShow-enter, .opacShow-leave-active {
    opacity: 0;
}

.topShow-enter-active, .topShow-leave-active {
    transition: transform .5s;
    -webkit-transition: transform .5s
}

.topShow-enter, .topShow-leave-active {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.bottomShow-enter-active, .bottomShow-leave-active {
    transition: transform .5s;
    -webkit-transition: transform .5s
}

.bottomShow-enter, .bottomShow-leave-active {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}


._v-container {
    background-color: #fff;
}

/*swiper*/
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform
}

/*swiper*/


